/* CSS for navigation bar starts here */

.nav-link {
    padding-left: 0 !important;
    padding-right: 10px !important;
}

.nav-item{
    text-align: right;
}

.nav-link.active{
    background-color: green !important;
    color: #fff !important;
}

/* CSS for Home Intro starts here */

.home-intro-container{
    background-image: url("../img/sydney1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.home-intro{
    margin: 425px auto 25px auto;
    padding: 50px 0;
    width: 75%;
}

.home-intro-title{
    color: #fff;
    font-weight: bold !important;
    text-decoration: 1px 1px 1px #000;;
    margin-bottom: 15px;
}

.home-intro-text{
    color: #fff;
    font-weight: bold !important;
}

/* CSS for Quote Form starts here */

.quote-form{
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 275px 0 25px 0;
    padding: 25px 25px 25px 25px;
    width: 90%;
    background-color: #fff;
}

.form-title{
    color: green;
    margin-bottom: -15px !important;
}

.form-group{
    margin-bottom: 10px;
}

/* CSS for company- motto starts here */

.company-motto-container{
    background-color: green;
    padding: 100px 0;
    /* text-align: center; */
    color: #fff;
}

.motto-title{
    margin-bottom: 25px;
}

.motto-box{
    border: 3px solid #fff;
    border-radius: 10px;
    width: 95%;
    display: block;
    margin: 0 auto 15px auto;
    padding: 15px;
}

.motto-icons{
    font-size: 5rem !important;
    margin: 15px 0;
}

.motto-texts{
    text-align: left;
    margin-top: 13px;
}

/* CSS for company services starts here */

.company-services-container{
    padding: 100px 0;
}

.services-title{
    color: green;
    margin-bottom: 25px;
}

.service-box{
    border: 2px solid green;
    border-radius: 10px;
    margin: 0 10px 25px 10px; 
}

.services-img{
    width: 95%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 15px auto; 
}

.service-description-box{
    padding: 15px;
    background-color: green;
    color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* CSS for contact starts here */

.contact-container{
    padding: 50px 0;
    background-color: green;
}

.contact-title{
    color: #fff;
    margin-bottom: 25px;
}

.address-map{
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #fff;
    padding: 5px;
    margin-bottom: 15px;
}

.google-map{
    display: block;
    margin: 0 auto;
}

.img-fluid{
    height: 290px !important;
}

.contact-info{
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #fff;
    color: green;
    padding: 35px 25px 15px 25px;
    height: 300px;
    margin-bottom: 15px;
}

.contact-icons{
    font-size: 2rem !important;
    padding: 0 15px;
}

/* CSS for footer starts here */

.footer{
    padding: 50px 0 15px 0;
}

.follow-title{
    color: green;
    margin-bottom: 25px;
}

.social-links{
    font-size: 2.5rem !important;
    margin: 0 5px;
    color: green;
}

.copyright-msg{
    font-size: 1rem;
    color: green;
}

/* CSS for thank.html starts here */

.thank-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.thank-jumbotron{
    background-color: #1877F2 !important;
    color: #fff;
}

/* CSS for mobile devices */

@media (max-width: 320px) {

    .display-4{
        font-size: 2rem !important;
    }
  
      .lead{
        font-size: 1.1rem !important;
        line-height: 1.4;
    }

    .home-intro-container{
        background-image: none;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .home-intro{
        background-image: url("../img/sydney2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
        margin: 100px auto 25px auto;
        padding: 400px 10px 25px 10px;
        width: 100%;    }

    .quote-form{
        border: 1px solid green;
        border-radius: 10px;
        margin: 100px auto;
        padding: 25px 25px 50px 25px;
        width: 85%;
    }

    .motto-box{
        width: 85%;
    }

    .motto-icons{
        font-size: 4rem !important;
    }

    .service-box{
        width: 85%;
        margin: 0px auto 25px auto;
    }

    .contact-info{
        padding: 15px;
        height: auto;
    }

    .contact-icons{
        font-size: 1.5rem !important;
        padding: 0 10px;
    }

    .social-links{
        font-size: 2rem !important;
        margin: 0 1px;
        color: green;
    }
    
    .copyright-msg{
        font-size: 0.85rem;
        color: green;
    }
  }

  /* CSS for tablets screen */

  @media (max-width: 768px) {

    .display-4{
        font-size: 2rem !important;
    }

        .lead{
        font-size: 1.1rem !important;
        line-height: 1.4;
    }

    .home-intro-container{
        background-image: none;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .home-intro{
        background-image: url("../img/sydney2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
        margin: 100px auto 25px auto;
        padding: 400px 10px 25px 10px;
        width: 100%;
    }

    .quote-form{
        border: 1px solid green;
        border-radius: 10px;
        margin: 25px auto 100px auto;
        padding: 25px 25px 50px 25px;
        width: 85%;
    }

    .motto-box{
        width: 85%;
    }

    .motto-icons{
        font-size: 4rem !important;
    }

    .service-box{
        width: 85%;
        margin: 0px auto 25px auto;
    }
    
    .contact-info{
        padding: 15px;
        height: auto;
    }

    .contact-icons{
        font-size: 1.5rem !important;
        padding: 0 10px;
    }
    
    .social-links{
        font-size: 2rem !important;
        margin: 0 1px;
        color: green;
    }
    
    .copyright-msg{
        font-size: 0.85rem;
        color: green;
    }
  }