/* CSS for navigation bar starts here */

.nav-item{
    text-align: right;
    padding-right: 5px;
}

/* CSS for Home Intro starts here */

.home-intro{
    margin: 100px auto;
    padding: 50px 25px;
    width: 75%;
}

/* CSS for Quote Form starts here */

.quote-form{
    border: 1px solid green;
    border-radius: 10px;
    margin: 100px 0;
    padding: 50px 25px;
    width: 75%;
}

.form-group{
    margin-bottom: 10px;
}
